body {
  color: white;
  font-family: sans-serif;
  display:flex;
  display: column;
  justify-content: center;
  margin-top: 150px;

}

body *{

}
#calculator{
  background-color: #FFA1D3;
  height: 270px;
  width: 310px;
  border-radius: 4px;
  border: solid #FFA1D3 3px;
}
#return{
  margin-top: 15px;
  background: rgba(0 0 0 0.2);
}

button{

  background-color: #FFA1D3;
  border: solid white 4px;;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  font-size: 16px;
  /*border-collapse: collapse;*/
  border-style: none;
  box-shadow: 10px;
}

button:hover {
  background-color: #pink;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
div{

}
input{
  height: 20px;
  width: 200px;
  text-indent: 190px;
}

#divide{
  background-color: #FFC4FF;
}
#multiply{
  background-color: #FFC4FF;

}
#addition{
  background-color: #FFC4FF;

}
#minus{
  background-color: #FFC4FF;

}
#clear{
  background-color: orange;
  text-align: right;
}
#equals{
  background-color: #FFC4FF;
}
.firstRow{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: solid #FFA1D3 6px;

}
.secondRow{
  display: flex;
  flex-flow: row nowrap;
  margin-left: 1px;
}
.thirdRow{
  display: flex;
  flex-flow: row nowrap;


}

.fourthRow{
  display: flex;
  flex-flow: row nowrap;
margin-left: 3px;

}

.fifthRow{
  display: flex;
  flex-flow: row nowrap;
  margin-left: 2px;


}
